---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% set htmlTitle = "Homepage" %}

{% block content %}
    <h1>Blogposts</h1>
    <ul>
    {% for item in blogposts %}
        <li>
            {{ item.publishedDate }}
            <h2><a href="/blog/{{ item.slug }}">#{{ item.id }} - {{ item.title }}</a></h2>
            {{ item.thumb }} // {{ item.thumbAlt }}
        </li>
    {% else %}
        </ul>
        <p>No blogpost found</p>
    {% endfor %}

{% endblock %}
